<!DOCTYPE html>
<html lang="en">
<head>
  <title>Noa Younse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../js/jquery-1.11.3.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
</head>



<body>
  <!-- see http://stackoverflow.com/questions/20914711/bootstrap-3-jumbotron-background-image-effect -->
  <!--<div class ="projectBackground" style="background-image: url(images/jumbo.jpg)"> </div>-->
  <div class ="projectBackground" > </div>

  <script src="../../js/getHeader.js"></script>

  <div class = "homeLink" id ="topHomeLink"> </div>
  <script src="../../assets/getTopHomeLink.js"></script>

  <div class="jumbotron"> </div>


  <div class ="whiteBackground">
    <div class="container">

      <!-- the first row.. with the stats on the left and the description on the right -->
      <div class="row">
        <div class="col-sm-4" >
          <!-- INSERT TITLE HERE -->
          <!-- INSERT TITLE HERE -->
          <span class="projectTitle" >Project Title</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <!-- INSERT OTHER RANDOM DATA HERE -->
          <!-- INSERT OTHER RANDOM DATA HERE -->
          <p>San Francisco, 2013
            <br>
            material
            <br>
            material
            <br>
            material
            <br>
            program
            <br>
            program
            <br>
          </p>      
        </div>
        <div class="col-sm-8 projectDescription" >
          <!-- INSERT PROJECT DESCRIPTION HERE -->
          <!-- INSERT PROJECT DESCRIPTION HERE -->
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non ligula in ante pellentesque hendrerit id ut urna. Maecenas cursus mi ac purus interdum euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue erat, aliquet ultricies nibh non, vulputate consectetur nunc. Vivamus gravida libero vitae tellus mattis, at scelerisque ante interdum. Ut eros eros, fermentum ac euismod et, finibus in nunc. Aliquam tristique magna et interdum vehicula. In tincidunt tortor at arcu accumsan bibendum. Sed gravida iaculis interdum. Phasellus faucibus ligula nunc, ac egestas arcu mollis ut. Curabitur a pretium risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin pretium mauris vel metus facilisis tristique eget vitae neque. Integer in dui a nisl viverra consectetur id eget dolor. Vestibulum euismod dictum ante ut dictum. Proin dictum est at ligula euismod, non ullamcorper mauris tincidunt.
          <br>
          <br>
          Fusce orci ante, blandit sed venenatis id, aliquam eget eros. Sed vel nisi condimentum, dictum sapien eu, sollicitudin metus. Etiam ut leo eu sem porttitor volutpat sed eu odio. Ut mollis ipsum sem, aliquam ornare eros dignissim sed. In elit turpis, facilisis rutrum nisl in, porttitor dapibus sem. Etiam lacinia vitae tellus at scelerisque. Duis suscipit quis tortor vitae gravida.

        </div>
      </div>

      <!-- IMAGES -->
      <!-- IMAGES -->
      <!-- IMAGES -->
      <!-- IMAGES -->
      <!-- full width images .. will have nothing special, but image should be minimum width of 800 px -->
      <!-- or a line of images – in which case make the heights all equal -->
      <!-- the first row.. with the stats on the left and the description on the right -->
      <div class="row no-gutters">
        <!-- full width images .. will have nothing special -->
        <div class="col-sm-12" >
          <img class="img-responsive" src="images/fullImage.jpg" alt="">      
        </div>
      </div>

      <div class="row no-gutters">
        <!-- split width images .. -->
        <!-- split images should be at least 800 pixels wide?? -->
        <div class="col-xs-6" >
          <img class="img-responsive" src="images/fullImage.jpg" alt="">      
        </div>
        <div class="col-xs-6" >
          <img class="img-responsive" src="images/fullImage.jpg" alt="">      
        </div>
      </div>



    </div> <!-- white background div -->
    <!--footer.. DON'T TOUCH-->
    <div id="footer"></div>
    <script src="../../assets/getFooter.js"></script>
  </body>
  </html>